<header>
  <nav class="navbar navbar-expand" style="background-color: #307890;">
    <a class="navbar-brand" href="/">SITE NAME</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">MY STORIES</a>
        <a class="nav-item nav-link" href="/stories">ALL STORIES</a>
        <a class="nav-item nav-link" href="/">CONTRIBUTIONS</a>
      </div>
    </div>

    <!-- <div>
        <a class="nav-item nav-link" href="/">LOGIN</a>
<<<<<<< HEAD
        <a class="nav-item nav-link" href="/">CREATE ACCOUNT</a>
      </div> -->
=======
        <a class="nav-item nav-link" href="/registration">CREATE ACCOUNT</a>
      </div>
>>>>>>> 5967a8d2462d4d7c0285773751ac010cc7edd3bf
  </nav>
</header>
