<header>
  <nav class="navbar navbar-expand" style="background-color: #307890;">
    <a class="navbar-brand" href="/">GOOSEBUMPS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/owner_stories">MY STORIES</a>
        <a class="nav-item nav-link" href="/stories">ALL STORIES</a>
        <a class="nav-item nav-link" href="/">CONTRIBUTIONS</a>
      </div>
    </div>
  </div>

    <!-- <div>
        <a class="nav-item nav-link" href="/">LOGIN</a>
        <a class="nav-item nav-link" href="/">CREATE ACCOUNT</a>
      </div> -->
       <!--  <a class="nav-item nav-link" href="/registration">CREATE ACCOUNT</a>
      </div> -->
  </nav>
</header>
