// See: https://sass-lang.com/

body,
html {
  margin: 0;
}

#upvote_arrow{
  padding-bottom: .5em;
  &:hover {
    color: greenyellow
  }
}

.jumbotron {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}

.story_container{
  border: .5em solid black;
  // margin-top: 2em;
  margin-bottom: 2em
}

.parchment {
  display: flex;
  flex-direction: column;
  // position:absolute;
    width: 75%;
  // min-height: calc((1vw + 1vh) * 75);
  /* center page with absolute position */
  justify-content: center;
  top: 0%; left: 50%;
  // transform: translate(-50%, 0);
  margin: 2em 0;
    padding: 4em;
    box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
    background: #fffef0;
  // filter: url(#wavy2);
}

.contribution_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  width: 75%;
  margin: auto;
}

.tweet_buttons {
  display:flex;
  justify-content: space-between;
  padding: 0.5em 0;
  font-family: bungee;
  > button {
    border: 0;
    background-color: layout.$primaryheader-color;
    color: layout.$bodybackground-color;
    &:hover {
      color: layout.$bodybackground-color;
        box-shadow: 3px 3px rgb(1, 5, 36), 2px 2px rgb(1, 5, 36), 1px 1px rgb(1, 5, 36);
        border: 1px solid rgb(1, 5, 36);
    }
    &:active {
      transform: translate(3px, 3px);
    }
  }
}
