/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );
} */



/*
 * Global layout stuff
 */

body {
  min-height: 100vh;
  color: #545149;
  font-size: 20px;
 font-family: 'Tangerine', cursive;
}

main {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

}

section {
  width: 60%;
  display: flex;
  flex-direction: column;
  background-color: #fef1e1 !important;
  padding:10vh;
}

#login-form-id, #register-form-id{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color:white;
  padding-top: 3vh;
  margin-left: 2em;
}

.form {
  flex-direction: row;

}
.btn-info, .btn-info:focus, .btn-info:hover {
  margin-left:3vw;
  color: white;
  background-color: #084c9e;
}

// div>.nav-link{
//   color:white !important;
// }

.register-form {
  display:none;
}
.login-form {
  display:none;
}
.feature-story {
  display:flex;
  flex-direction: column;
  align-items: center;
  border: 2px black solid;
  border-radius: 20%;
  padding: 4vh;
}
.about {
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 4vh;
  justify-items: center;
}
.random-story-title  {
  font-size:2em;
}

// nav {
//   display: flex;
//   // flex-direction: column;
//   align-items: center;
//   justify-content: space-around;
//   font-family: 'Popins', sans-serif;
//   color: white;
// }
